<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Page</title>
</head>
<body>
    <h1>Welcome to Food Page!</h1>
    <h3>Please Fill the Information Below.</h3>
    <label>Is {{restaurant_name}} the One You Are Looking For?</label><br>
    <form method = 'post'>
        <select id= 'restaurant_name'>  
            <option value = "Default"> Yes/No
            </option>  
            <option value='True'> Yes
            </option>  
            <option value='False'> No
            </option>  
        </select><br>
        <button type="button">Comfirm</button><br><br>
        <button type="submit">Add Restaurant</button>
    </form>
</body>
</html>